* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-image: linear-gradient(45deg, rgb(72, 0, 121), rgb(0, 70, 110));
}

h1 {
    text-align: center;
    padding-top: 15px;
    color: aliceblue;
}

.blog_post {
    margin: 5%;
    background-color: aqua;
    border-radius: 10px;
}

.blog_post h3 {
    padding: 20px 15px;
    background-color: rgb(68, 68, 68);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: aliceblue;
}

.blog_post img {
    width: 100%;
    /* border-bottom-left-radius: 25px; */
    /* border-bottom-right-radius: 25px; */
}

.blog_post p {
    /* background-color: aqua; */
    padding: 10px;
}