{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Welcome to the blog</h1>
    </div>
    <div class="blog_post">
        <h3>Blog Heading</h3>
        <hr>
        <img src="{% static 'images/512802.jpg' %}" alt="">
        <p>This blog ;jdlhod On the following pages are several paragraphs for you to evaluate on your own, along with the Writing Center's explanation. Note: These passages are excerpted</p>
    </div>
    <hr>
    <div class="blog_post">
        <h3>Blog Heading</h3>
        <hr>
        <img src="{% static 'images/512802.jpg' %}" alt="">
        <p>This blog ;jdlhod On the following pages are several paragraphs for you to evaluate on your own, along with the Writing Center's explanation. Note: These passages are excerpted</p>
    </div>
</body>
</html>